## 262. Trips and Users (Hard)

Write a SQL query to find the cancellation rate of requests with unbanned users (both client and driver must not be banned) each day between "2013-10-01" and "2013-10-03".

The cancellation rate is computed by dividing the number of canceled (by client or driver) requests with unbanned users by the total number of requests with unbanned users on that day.

Return the result table in any order. Round Cancellation Rate to two decimal points.

The query result format is in the following example:
    
    Table: Trips

+-------------+----------+
| Column Name | Type     |
+-------------+----------+
| Id          | int      |
| Client_Id   | int      |
| Driver_Id   | int      |
| City_Id     | int      |
| Status      | enum     |
| Request_at  | date     |     
+-------------+----------+

Id is the primary key for this table.
The table holds all taxi trips. Each trip has a unique Id, while Client_Id and Driver_Id are foreign keys to the Users_Id at the Users table.
Status is an ENUM type of (‘completed’, ‘cancelled_by_driver’, ‘cancelled_by_client’).

    Table: Users
+-------------+----------+
| Column Name | Type     |
+-------------+----------+
| Users_Id    | int      |
| Banned      | enum     |
| Role        | enum     |
+-------------+----------+

Users_Id is the primary key for this table.
The table holds all users. Each user has a unique Users_Id, and Role is an ENUM type of (‘client’, ‘driver’, ‘partner’).
Status is an ENUM type of (‘Yes’, ‘No’).

In [4]:
'''WITH CTE AS (SELECT * FROM trips
             WHERE client_id IN (SELECT users_id
                                 FROM users 
                                 WHERE banned = 'No')
             AND driver_id IN (SELECT users_id
                               FROM users 
                               WHERE banned = 'No')
             AND request_at BETWEEN '2013-10-01' and '2013-10-03')
 
 
 SELECT request_at AS 'Day', 
        ROUND(CAST(SUM(CASE 
                    WHEN status = 'completed'
                    THEN 0 
                    ELSE 1 
                  END) AS DECIMAL(18,2)) / 
              COUNT(*), 2)
             AS 'Cancellation Rate'
 FROM CTE
 GROUP BY request_at;'''

"WITH CTE AS (SELECT * FROM trips\n             WHERE client_id IN (SELECT users_id\n                                 FROM users \n                                 WHERE banned = 'No')\n             AND driver_id IN (SELECT users_id\n                               FROM users \n                               WHERE banned = 'No')\n             AND request_at BETWEEN '2013-10-01' and '2013-10-03')\n \n \n SELECT request_at AS 'Day', \n        ROUND(CAST(SUM(CASE \n                    WHEN status = 'completed'\n                    THEN 0 \n                    ELSE 1 \n                  END) AS DECIMAL(18,2)) / \n              COUNT(*), 2)\n             AS 'Cancellation Rate'\n FROM CTE\n GROUP BY request_at;"

/* Write your T-SQL query statement below */

WITH CTE1 AS (
    SELECT 
        (id - RANK() OVER (ORDER BY id)) as [pointer],
        id,
        visit_date,
        people
    FROM Stadium
    WHERE people > 99
),
    CTE2 AS (
    SELECT 
        COUNT(id) OVER (PARTITION BY [pointer]) as [three_or_more],
        id,
        visit_date,
        people
    FROM CTE1
)

SELECT
    id, visit_date, people
FROM CTE2 WHERE [three_or_more] > 2